numpy
pandas
dataclasses
matplotlib
seaborn
scikit-learn
tensorflow
opencv-python-headless
opencv-python
streamlit
streamlit-webrtc
Flask
cryptography
speechrecognition
mediapipe
nltk
av
sounddevice
docker
PyAudio
-e .